Package: com.n00neimp0rtant.rateblocker
Name: RateBlocker
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: block "rate me" popups
Maintainer: n00neimp0rtant
Author: n00neimp0rtant
Section: Tweaks
